<!DOCTYPE html>
<html lang="en"
th:replace="~{base2 :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title data-th-text="${userLoggedIn.getName()}+' | SCM'">Profile Page</title>
    
    <link rel="stylesheet" data-th-href="@{'/output.css'}"/>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div id="content">
        <!-- side bar -->
        <div data-th-if="${userLoggedIn}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
         </div>

        <!-- main content -->
    <div class="sm:ml-64" style="height: 1000px;">
        <div class="flex justify-center flex-col items-center ">
            <h1 class="text-5xl pt-5">Welcome to Profile Page</h1>
            
        </div>
       
        
    </div>
</div>
    
<script src="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</body>
</html>